@page "/"
<PageTitle>Home</PageTitle>

<div class="home-container">
    <div class="background-overlay"></div>
    <div class="content-wrapper">
        <div>
            <svg width="300" height="300" viewBox="0 0 300 300" class="logo">
                <defs>
                    <clipPath id="circleView">
                        <circle cx="150" cy="150" r="140" />
                    </clipPath>

                    <linearGradient id="silverGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                        <stop offset="0%" stop-color="#E5E5E5" />
                        <stop offset="50%" stop-color="#C0C0C0" />
                        <stop offset="100%" stop-color="#A7A8A8" />
                    </linearGradient>
                </defs>

                <circle cx="150" cy="150" r="140" fill="none" stroke="url(#silverGradient)" stroke-width="4" />

                <image href="images/logo.png"
                       x="0" y="0" width="300" height="300"
                       preserveAspectRatio="xMidYMid slice"
                       clip-path="url(#circleView)" />
            </svg>
        </div>
        <h1 class="welcome-title">Your Access Gate To Every Beat</h1>
        <p class="welcome-text">~find your festival and secure your experience~</p>

        <button class="gradient-button" onclick="window.location.href='/register'">
            Join Us
        </button>

    </div>
</div>