
<div class="navbar-container">
    <div class="top-row navbar">
        <div class="navbar-brand">
            <NavLink href="/">ShowTime</NavLink>
        </div>
        <input type="checkbox" class="navbar-toggler" id="navbar-toggle" />
        <label for="navbar-toggle" class="navbar-toggler-label">
            <span></span>
            <span></span>
        </label>
    </div>
    
    <div class="nav-scrollable">
        <nav class="nav-menu">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-map" aria-hidden="true"></span> Map
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-music-note-beamed" aria-hidden="true"></span> Festivals
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="tickets">
                    <span class="bi bi-ticket-perforated" aria-hidden="true"></span> Tickets
                </NavLink>
            </div>
        </nav>
    </div>
</div>