@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="navbar-container">
    <div class="top-row navbar">
        <div class="navbar-brand">
            <NavLink href="/">
                <img src="/images/logo.png" alt="Logo" class="logo-circle" />
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin,User">
            <Authorized>
                <div class="navbar-logout">
                    <div class="nav-item logout-item">
                        <NavLink class="nav-link logout-link" href="logout"
                                 style="background: #254D32 !important; color: black !important; border-radius: 40px !important;">
                            <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="navbar-login">
                    <div class="nav-item login-item">
                        <NavLink class="nav-link login-link" href="login"
                                 style="background: #254D32 !important; color: white !important; border-radius: 40px !important;">
                            <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="nav-bar">
        <nav class="nav-menu">
            <div class="nav-item">
                <NavLink class="nav-link" href="map">
                    <span class="bi bi-map" aria-hidden="true"></span> Map
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="festivals">
                    <span class="bi bi-music-note-beamed" aria-hidden="true"></span> Festivals
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="artists">
                    <span class="bi bi-lightning" aria-hidden="true"></span> Artists
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="cart">
                    <span class="bi bi-cart" aria-hidden="true"></span> Cart
                </NavLink>
            </div>
        </nav>
    </div>
</div>